<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta property="og:title" content="GLSL boilerplate" />
    <meta property="og:type" content="article" />
    <meta
      property="og:description"
      content="GLSL boilerplate github.com/pjkarlik/"
    />
  </head>
  <body></body>
</html>

<!--
  GLSL Boilerplate
  @pjkarlik | 2021
-->
